/* src/components/Loader.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay effect */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it covers other content */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fan-image {
  width: 250px;
  height: 250px;
  margin: 20px 0;
  
}
/* Apply the spin animation to the image */
.spin-animation1 {
  animation: spin 1ms linear infinite;
}

.loader img {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  /* Add any additional styling for the loader image */
}