.order-details {
    padding: 20px;
    /* background-color: #1a1a1a; */
    color: #ffffff;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
  }
  .flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #19e436;
    /* background-color: #5b5c5b; */
    color: #19e436;
    text-align: center;
    border-radius: 5px;
  }
  
  .order-details-container {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
  }
  
  .order-details-content p,
  .payment-content p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .cancel-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .payment-content {
    margin-top: 20px;
  }
  
  .payment-info {
    margin-top: 20px;
    text-align: center;
  }
  
  .price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .payment-address {
    word-break: break-all;
    margin-top: 10px;
  }
  
  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  