/* ReusableModal.css */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.claim-button {
  background-color: #007bff; /* Primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.claim-button.claim {
  background-color: #28a745; /* Green color for claim button */
}

.claim-button.claim:disabled {
  background-color: #6c757d; /* Gray color for disabled button */
  cursor: not-allowed;
  opacity: 0.65;
}
.modal-contents input {
  margin-top: -29px;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #565555;
  border-radius: 6px;
  background-color: #fff;
}

.modal-contents form {
  margin-top: -42px;
  display: flex;
  flex-direction: column;
}
